In [20]:
import pandas as pd
import numpy as np

In [2]:
contract_payment=pd.read_excel(r'C:\Users\risha\OneDrive\Documents\Downloads\contract_payment_terms.xlsx')

In [122]:
contract_payment

   CPT_ID  FREQ_OF_PMT
0     100      Monthly
1     101    Quarterly
2     102  Half Yearly
3     103       Yearly

In [123]:
contract_table=pd.read_excel(r'C:\Users\risha\OneDrive\Documents\Downloads\contract_table.xlsx')

In [124]:
contract_table

,CONTRACT_ID,CONTRACT_TYPE,CONT_S_DATE,CONT_E_DATE,CPT_ID,CONT_AMT,INS_DATE
0,12345,government,2010-01-10,2012-01-10,100,700000,2010-01-10
1,12879,individual,2011-02-03,2012-02-15,101,489938,2011-02-03
2,12987,individual,2011-02-15,2011-09-15,100,289456,2011-02-15
3,12346,government,2009-03-13,2011-03-14,102,200000,2009-03-10
4,12348,government,2012-04-06,2013-05-22,103,200000,2009-05-08

In [125]:
expected_receivable_table=pd.DataFrame()

In [126]:
contract_table.CPT_ID.dtype

dtype('int64')

In [127]:
#for i in contract_table['CPT_ID']:
    #if i==100:
#         months_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(1, 'M'))
#         print(months_between)
        
#         if i==101:
#             quarters_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(4, 'M'))
#             return quarters_between
#         elif i==102:
#             half_yearly_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(6, 'M'))
#             return half_yearly_between
#         else:
#             years_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(1, 'Y'))
#             return years_between

In [128]:
# for i in contract_table['CPT_ID']:
#     if i==101:
#         quarters_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(3, 'M'))
#         print(quarters_between)

In [129]:
# for i in contract_table['CPT_ID']:
#     if i==102:
#         half_yearly_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(6, 'M'))
#         print(half_yearly_between)

In [130]:
# for i in contract_table['CPT_ID']:
#     if i==103:
#         years_between = round((contract_table['CONT_E_DATE'] - contract_table['CONT_S_DATE'])/np.timedelta64(1, 'Y'))

In [131]:
final_table=pd.DataFrame()

In [132]:
# for i in contract_payment['FREQ_OF_PMT']:
#     if i=='Monthly':
#         final_table['Amount']=contract_table['CONT_AMT']/months_between
#     elif i=='Quarterly':
#         final_table['Amount']=contract_table['CONT_AMT']/quarters_between
#     elif i=='Half Yearly':
#         final_table['Amount']=contract_table['CONT_AMT']/half_yearly_between
#     else:
#         final_table['Amount']=contract_table['CONT_AMT']/years_between

In [133]:
# final_table['Amount']

In [140]:
pd.date_range(start='2010-01-10',end='2012-01-10',freq='MS')

DatetimeIndex(['2010-02-01', '2010-03-01', '2010-04-01', '2010-05-01',
               '2010-06-01', '2010-07-01', '2010-08-01', '2010-09-01',
               '2010-10-01', '2010-11-01', '2010-12-01', '2011-01-01',
               '2011-02-01', '2011-03-01', '2011-04-01', '2011-05-01',
               '2011-06-01', '2011-07-01', '2011-08-01', '2011-09-01',
               '2011-10-01', '2011-11-01', '2011-12-01', '2012-01-01'],
              dtype='datetime64[ns]', freq='MS')

In [141]:
pd.date_range(start='2011-02-03',end='2012-02-15',freq='Q')

DatetimeIndex(['2011-03-31', '2011-06-30', '2011-09-30', '2011-12-31'], dtype='datetime64[ns]', freq='Q-DEC')

In [142]:
pd.date_range(start='2011-02-15',end='2011-09-15',freq='MS')

DatetimeIndex(['2011-03-01', '2011-04-01', '2011-05-01', '2011-06-01',
               '2011-07-01', '2011-08-01', '2011-09-01'],
              dtype='datetime64[ns]', freq='MS')

In [143]:
pd.date_range(start='2009-03-13',end='2011-03-14',freq='6M')

DatetimeIndex(['2009-03-31', '2009-09-30', '2010-03-31', '2010-09-30'], dtype='datetime64[ns]', freq='6M')

In [144]:
pd.date_range(start='2012-04-06',end='2013-05-22',freq='Y')

DatetimeIndex(['2012-12-31'], dtype='datetime64[ns]', freq='A-DEC')